<div id="search-component">
  <h4><label for="search-box">People Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let hero of people$ | async" >
      <a routerLink="/detail/{{people.id}}">
        {{people.name}}
      </a>
    </li>
  </ul>
</div>