<div *ngIf="people">

  <h2>{{people.name | uppercase}} Details</h2>
   <div><span>id: </span>{{people.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="people.name" placeholder="people"/>
    </label>
  </div>
  <div>
	  <p *ngFor="let film of people?.films">{{ film }}</p>
  </div>
</div>
<button (click)="goBack()">go back</button>