<h2>Starwars Actors</h2>
<ul class="people">
  <li *ngFor="let actor of peopleList?.results">
    <a routerLink="/detail/{{actor.id}}">
      <span class="badge">{{actor.id}}</span> {{actor.name}}
	</a>
  </li>
</ul>
<div class="people">
  <div class="pages">
	  <span *ngIf="peopleList?.previous" class="badgeLeft" (click)="getPeople(peopleList?.previous)"><<</span>page 1<span *ngIf="peopleList?.next" class="badgeRight" (click)="getPeople(peopleList?.next)">>></span>
  </div>
</div>
